body{
    margin: 0px;
    padding: 0px;
}

.d-flex{
    display: flex;
}
.s-e{
    justify-content: space-evenly;
}
.j-c{
    justify-content: center;
}
.s-a{
    justify-content: space-around;
}
.bg-yellow{
    background-color: yellow;
}
.pad{
    padding-right: 390px;
    padding-top:10px ;
    padding-bottom: 10px;
    padding-left: 10px;
}
.s-b{
    justify-content: space-between;
}
.a-c{
    align-items: center;
}
.bor-yellow{
    border: 1px solid yellow;
    border-radius: 4px;
}
.m-t{
    margin-top: 10px;
}
.text-blue{
    color: blue;
}
.m-z{
    margin-top: 0px;
}
.gape{
    gap: 30px;
}
.card{
    background-color: #fcf7f0;
    border: 1px solid #fcf7f0;
    border-radius: 7px;
   gap: 30px;
}.center{
    text-align: center;
}
.end{
    display: flex;
    justify-content: end;
    color: rgb(173, 169, 169);
}
.m-l{
    margin-left: 30px;
}
.All{
    font-size: 32px;
    color: gray;
}
.text-gray{
    color: gray;

}
.bor{
    border: 2px solid gray;
    border-radius: 10px;
}
.bg-gray{
    background-color: lightgray;
}
.del-red{
    color: red;
}
.bg-lightyellow{
    background-color: #fce6e6;
}
.new-box{
    padding: 8px 60px;
}
.new-bor{
    border: 2px solid lightgray;
    border-radius: 20px;
}
.bg-lightblue{
    background-color: #dcf1f1;
}
.bg-white{
    background-color: white;
}
.p-t{
    margin-top: 10px;
    padding-top: 10px;
}
.n-t{
    margin-top: 30px;
}
#bot{
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
    margin-top: 25px;
}
.mar-l-r{
    margin: 17px;
}
.j-c-s-e{
    justify-content: space-between;
}
.t-size{
    font-size: 20px;
}
.div-bor{
    border: 1px solid rgb(223, 215, 215);
}
#wit{
    width: 30px;
    
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
#iconn{
    display: none;
    font-size: 30px;
    
}
.new-div{
    border: 0px solid whitesmoke;
    background-color: rgb(252, 248, 244);
}

@media(max-width:725px){
    .nav{
        display: none
    }
    #iconn{
        display: block;
    }
    .wrap-m{
        flex-wrap: wrap;
    }

}